In [27]:
import os
os.listdir()

['.ipynb_checkpoints',
 'SortModule.txt',
 'test01.csv',
 'test01.ipynb',
 'test01.txt',
 'test01.xlsx']

In [28]:
import pandas

In [44]:
df1=pandas.read_csv("test01.txt",sep=";")
df2=df1.set_index("ID")
df2

       Name   LastName Title       Job  PhoneNumber
ID
1      Jack      Jacky    Mr  Engineer   9112345676
2     Helga    Schmith   Mrs     Nurse    987654321
3     Javad     Yasari    Mr    Singer  98765431123
4   Sakineh     Yavari    Ms  HomeDoer    987656765
5    Hosein  Ibnilarab    Mr      Arab  96253635472